#the URL for the endpoint of OAuth service  
oauth.service.uri=

#The parameters sent for retrieving a new ticket   
oauth.token.request.params.regular=
oauth.token.request.params.editor=
oauth.token.request.params.editor2=
