@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}

.clsHeaderCell {
	font-size: 10pt;
	background-color: #888888;
	color: #FFFFFF;
	border-right: 1px solid #AAAAAA;
	overflow: hidden;
	padding-left: 2pt;
	padding-right: 2pt;
}

.clsCellBorder {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 3pt;
	padding-right: 3pt;
}

.cls0_0 {
	overflow: hidden;
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	border-left: 1px solid #CCCCCC;
}