# the uri of the user set service (REST API) => 
# for testing within the development environment a local URI can be used e.g. localhost:8080/set-web/sets  
set.service.uri = http://localhost:8080/set

# the user key used to access Europeana API. For more information see http://pro.europeana.eu/api 
set.api.key =

# the set validation header definitions
set.header.name=Authorization
set.regular.authorization.value=
 