# the uri of the user set service (REST API) => 
# for testing within the development environment a local URI can be used e.g. localhost:8080/set-web/sets  
set.service.uri = http://localhost:8080/set


## Authentication endpoints ( @See eu.europeana.api.commons.auth#AuthenticationConfig )

## url and params for generating a Long Lasting token that refresh itself.
token_endpoint=
grant_params=

# Apikey to access the client. Generates the Apikey Based Authentication.
apikey=

# for generating static token for the client to use. Only pass the token value (without Bearer)
access_token=

